.section {
  padding-top: 1rem;
}

.menu {
  min-width: 238px;
}

.menu-list a, .menu-list a.is-active {
  padding: .15rem 0;
  color: #3273dc;
  text-decoration: underline;
  background-color: #fff;
}

.menu-list a:hover {
  background-color: #fff;
  color: #3273dc;
}

.menu-list a.is-active:hover {
  cursor: default;
}

.menu-label {
  font-weight: 600;
}

.menu-label:not(:last-child) {
  margin-bottom: 0.25rem;
}

.menu-label:not(:first-child) {
  margin-top: 1.25rem;
}

.menu .cf-menu-item {
  font-size: 0.85rem;
}

.field-label {
  margin-right: 1.25rem;
}

.cf-field-label {
  width: 100px;
  text-align: left;
}

.results .cf-field-label {
  width: 130px;
}

.results input[type=text] {
  max-width: 130px;
}

.field:not(:last-child) {
  margin-bottom: 0.375rem;
}

.page-title {
  padding-top: 0;
}

.calculator-form {
  padding-bottom: 2rem;
}

.hide {
  display: none!important;
}

.results {
  margin-bottom: 1.25rem;
}

.result-table-menu,
.result-table {
  border-bottom: 1px solid #999;
  font-size: 0.85rem;
}

.result-table-pagination {
  padding-top: 1.25rem;
}

ul.pagination-list {
  list-style: none;
  margin-top: 0;
}

ul.pagination-list li {
  margin-top: 0;
}

.pagination-link.is-current:hover {
  cursor: default;
}
