.section {
  padding-top: 1rem;
}

.menu {
  min-width: 288px;
}

.menu-list a, .menu-list a.is-active {
  padding: .15rem 0;
  color: #3273dc;
  text-decoration: underline;
  background-color: #fff;
}

.menu-list a.is-active:hover {
  cursor: default;
}

.menu-label {
  font-weight: 600;
}

.menu-label:not(:last-child) {
  margin-bottom: 0.25rem;
}

.menu-label:not(:first-child) {
  margin-top: 1.25rem;
}

.menu .cf-menu-item {
  font-size: 0.85rem;
}

.cf-field-label {
  width: 110px;
  text-align: left;
}

.field:not(:last-child) {
  margin-bottom: 0.375rem;
}
