@media screen and (max-width: 768px) {
    .section {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .title.is-4 {
        text-align: center;
        font-size: 1.25rem;
    }

    .calculator-form {
        width: 300px;
        margin: auto;
    }

    .field.is-horizontal {
        display: flex;
    }

    .field-label.is-small {
        font-size: 0.85rem;
        padding-top: 0.325rem;
    }

    .label.cf-rb {
        width: 300px;
    }

    .field-body {
        width: 300px;
    }

    .radio+.radio {
        margin-left: 0;
        display: block;
    }

    .radio.extra_dep_r {
        margin-right: 0.5em;
    }

    .results,
    .pie-chart,
    .line-chart {
        width: 300px;
        margin: auto;
    }

    .pagination {
        flex-wrap: nowrap;
    }

    .pagination.is-centered .pagination-previous {
        order: 1;
    }

    .pagination.is-centered .pagination-list {
        order: 2;
    }

    .pagination.is-centered .pagination-next {
        order: 3;
    }
}
