@media screen and (max-width: 768px) {

    .section {
        margin-right: 0.1rem;
        margin-left: 0.1rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }

    .title.is-4 {
        text-align: center;
        font-size: 1.25rem;
    }

    .page-title {
        max-width: 360px;
    }

    .page-title .card-header-title {
        font-size: 1.1rem!important;
    }

    .calculator-form {
        width: 276px;
        margin: auto;
    }

    .field.is-horizontal {
        display: flex;
    }

    .field-label.is-small {
        font-size: 0.85rem;
        padding-top: 0.325rem;
    }

    .field-body {
        width: 276px;
    }

    .radio+.radio {
        margin-left: 0;
        display: block;
    }

    .radio.extra_dep_r {
        margin-right: 0.5em;
    }
/*
    .results,
    .pie-chart,
    .line-chart {
        width: 300px;
        margin: auto;
    }
*/
    .radio.time-scale-r {
        display: inline-block;
        margin-left: 8px;
        font-size: .85rem;
    }

    .level-right .control {
        max-width: 170px;
        width: 200px;
    }

    .level-right .field-label.is-small {
        padding-top: 0;
        margin-right: 4px!important;
    }

    .cf-field-label.cf-rb {
        width: 230px;
    }

    .level-right .cf-field-label.cf-rb {
        width: 85px;
    }

    .pagination {
        flex-wrap: nowrap;
    }

    .pagination.is-centered .pagination-previous {
        order: 1;
    }

    .pagination.is-centered .pagination-list {
        order: 2;
    }

    .pagination.is-centered .pagination-next {
        order: 3;
    }

    .results-wrapper {
        margin-top: 0!important;
    }

    .book-desc {
        margin-top: -40px;
    }

    .book-desc p {
        width: 600px;
        margin-bottom: 24px;
        font-size: 1.1rem;
        text-align: justify;
    }

    .book-cover {
        width: 290px;
    }

    .author-pic {
        width: 150px;
        margin-right: 40px;
        margin-top: 24px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }

    .author-desc {
        margin-top: 10px;
        text-align: justify;
        margin-left: -0.75rem;
    }

    .book-ul li {
        width: 600px;
        list-style: square;
        margin-left: 12px;
        margin-bottom: 24px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 668px) {
    .book-desc {
        margin-top: -40px;
    }

    .book-desc p {
        width: 400px;
        margin-bottom: 20px;
        font-size: 1rem;
        text-align: justify;
    }

    .book-cover {
        width: 200px;
    }

    .author-pic {
        width: 150px;
        margin-right: 40px;
        margin-top: 24px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }

    .author-pic {
        width: 150px;
    }

    .author-desc {
        margin-top: 10px;
        text-align: justify;
        margin-left: -0.75rem;
    }

    .book-ul li {
        width: 400px;
        list-style: square;
        margin-left: 12px;
        margin-bottom: 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .book-desc {
        margin-top: -40px;
    }

    .book-desc p {
        width: 310px;
        margin-bottom: 20px;
        font-size: 1rem;
        text-align: justify;
    }

    .book-cover {
        float: none;
        width: 310px;
    }

    .author-pic {
        width: 150px;
        margin-right: 40px;
        margin-top: 24px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }

    .author-desc {
        margin-top: 10px;
        text-align: justify;
        margin-left: -0.75rem;
    }

    .book-ul li {
        width: 310px;
        list-style: square;
        margin-left: 12px;
        margin-bottom: 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 337px) {
    .book-desc {
        margin-top: -40px;
    }

    .book-desc p {
        width: 300px;
        margin-bottom: 20px;
        font-size: 1rem;
        text-align: justify;
    }

    .book-cover {
        float: none;
        width: 300px;
    }

    .author-pic {
        width: 150px;
        margin-right: 40px;
        margin-top: 24px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }

    .author-desc {
        margin-top: 10px;
        text-align: justify;
        margin-left: -0.75rem;
    }

    .book-ul li {
        width: 300px;
        list-style: square;
        margin-left: 12px;
        margin-bottom: 20px;
        font-size: 1rem;
    }
}
