@media screen and (max-width: 768px) {

    .section {
        margin-right: 0.1rem;
        margin-left: 0.1rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }

    .title.is-4 {
        text-align: center;
        font-size: 1.25rem;
    }

    .calculator-form {
        width: 276px;
        margin: auto;
    }

    .field.is-horizontal {
        display: flex;
    }

    .field-label.is-small {
        font-size: 0.85rem;
        padding-top: 0.325rem;
    }

    .field-body {
        width: 276px;
    }

    .radio+.radio {
        margin-left: 0;
        display: block;
    }

    .radio.extra_dep_r {
        margin-right: 0.5em;
    }
/*
    .results,
    .pie-chart,
    .line-chart {
        width: 300px;
        margin: auto;
    }
*/
    .radio.time-scale-r {
        display: inline-block;
        margin-left: 8px;
        font-size: .85rem;
    }

    .level-right .control {
        max-width: 170px;
        width: 200px;
    }

    .level-right .field-label.is-small {
        padding-top: 0;
        margin-right: 4px!important;
    }

    .cf-field-label.cf-rb {
        width: 230px;
    }

    .level-right .cf-field-label.cf-rb {
        width: 85px;
    }

    .pagination {
        flex-wrap: nowrap;
    }

    .pagination.is-centered .pagination-previous {
        order: 1;
    }

    .pagination.is-centered .pagination-list {
        order: 2;
    }

    .pagination.is-centered .pagination-next {
        order: 3;
    }

    .results-wrapper {
        margin-top: 0!important;
    }
}
