body {
  min-width: 337px;
}

.section {
  padding-top: 1rem;
}

#mobile-menu {
  margin-bottom: 1.5rem;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
}

.menu {
  min-width: 238px;
}

.menu-list a, .menu-list a.is-active {
  padding: .15rem 0;
  color: #3273dc;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0);
}

.menu-list a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #3292ff;
}

.menu-list a.is-active:hover {
  cursor: default;
}

.menu-label {
  font-weight: 600;
}

.menu-label:not(:last-child) {
  margin-bottom: 0.25rem;
}

.menu-label:not(:first-child) {
  margin-top: 1.25rem;
}

.menu .cf-menu-item {
  font-size: 0.85rem;
}

.field-label {
  margin-right: 1.25rem;
}

.cf-field-label {
  width: 105px;
  text-align: left;
}

.result-field-label {
  width: 287px;
  margin-bottom: 16px;
  margin-top: 24px;
  text-align: left;
  font-weight: 400;
  text-decoration: underline;
}

#label-1 {
  margin-top: 8px;
}

.calc-form-wrapper {
  background-color: #eee;
  padding: 20px 18px 10px 17px;
  border: 1px solid #dbdbdb;
}

.calculate-btn {
  margin-top: 1rem;
  background-color: #2ca02c;
  color: #eee;
}

.calculate-btn:hover {
  color: #fff;
}

.results .cf-field-label {
  width: 130px;
}

.results input[type=text] {
  /*max-width: 130px;*/
}

.money {
  text-align: right;
}

.field:not(:last-child) {
  margin-bottom: 0.375rem;
}

.control.has-icons-right,
.fv-plugins-message-container,
.control.is-expanded {
  max-width: 140px;
}

.page-title {
  padding-top: 0;
  padding-bottom: 24px;
}

.calculator-form {
  padding-bottom: 1rem;
}

.hide {
  display: none!important;
}

.results-wrapper {
  margin-top: -42px;
}

.results {
  margin-bottom: 1.25rem;
  max-width: 287px;
}

.results-card,
.results-tabs {
  width: 313px;
}

.results-card .control {
  max-width: 130px;
}

.results-tabs:not(:last-child) {
  margin-bottom: 0;
}

.results-tabs.is-boxed li a:hover {
  color: #000;
  font-weight: 500;
  background-color: #fff;
}

.results-tabs.is-boxed li.is-active a {
  background-color: #edf2fc;
  border-bottom-color: #edf2fc;
  color: #000;
  font-weight: 500;
}

.results-tabs.is-boxed li.is-active a:hover {
  cursor: default;
}

.results-card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-top: none;
  background-color: #edf2fc;
}

.table-container {
  max-width: 287px;
}

.table-card {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  margin-left: -.75rem;
  margin-right: -.75rem;
  max-width: none;
}

.content table {
  max-width: 287px;
  font-size: .8rem;
}

.level-right .control {
  max-width: 260px;
}

.time-scale-r span.radio-text {

}

#table {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.card-header-title {
  display: block;
}

.table-card .card-content {
  padding: 1rem 1.5rem;
}

.results-card .card-content {
  padding-bottom: .75rem;
}

.table-card {
  margin-top: -12px;
}

.result-table-menu,
.result-table {
  border-bottom: 1px solid #999;
  font-size: 0.85rem;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.result-table-pagination {
  padding-top: 1.25rem;
  padding-right: 0;
  padding-left: 0;
}

ul.pagination-list {
  list-style: none;
  margin: 0;
  min-width: 105px;
}

.pagination-next,
.pagination-previous {
  max-width: 2.2em;
  background-color: #fff;
  color: #222;
}

.pagination-next[disabled],
.pagination-previous[disabled] {
  background-color: rgba(255, 255, 255, 0.15);
}

ul.pagination-list li {
  margin-top: 0;
  min-width: 2.2em;
}

a.pagination-link {
  background-color: #fff;
}

.pagination-link.is-current:hover {
  cursor: default;
}

.brand-logo img {
  max-height: none;
  margin: -10px auto 24px 0;
  display: block;
}