@media screen and (max-width: 1087px) {
    .navbar-menu {
        box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1);
        padding-left: 0.75rem;
    }

    .menu-list,
    .menu-label {
        text-align: center;
    }
}
