{% set page = 'Calculadora de Préstamos' %}
{% set form = 'calculadora-de-prestamos-form' %}
{% extends "_base.njk" %}
{%  block validation %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form5 = document.getElementById('calculadora-de-prestamos-form');
            const fv5 = FormValidation
                .formValidation(form5, {
                    locale: 'es_ES',
                    localization: FormValidation.locales.es_ES,
                    fields: {
                        loan: {
                            validators: {
                                notEmpty: {},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        rate: {
                            validators: {
                                notEmpty: {},
                                between: {
                                    inclusive: true,
                                    min: 0,
                                    max: 100,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        num_of_years: {
                            validators: {
                                notEmpty: {},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0.001,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        extra_pmt: {
                            validators: {
                                notEmpty: {},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        extra_pmt_start: {
                            validators: {
                                notEmpty: {},
                                between: {
                                    inclusive: true,
                                    min: 1,
                                    max: 1,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bulma: new FormValidation.plugins.Bulma(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh'
                        }),
                    },
                })
                .on('core.form.valid', function () {
                    app.calculate($('h1.title').text());
                });

            $('#num_of_years, #freq').change(function () {
                let num_of_years = form5.querySelector('#num_of_years').value;
                let freq = form5.querySelector('#freq').value;

                fv5.updateValidatorOption('extra_pmt_start', 'between', 'max', freq * num_of_years);
                fv5.revalidateField('extra_pmt_start');
            });
        });
    </script>
{% endblock %}