{% set page = 'Duración de Fondos' %}
{% set form = 'duracion-de-fondos-form' %}
{% set help = '<span class="example">Ejemplo:</span>Encuentra tiempo que durará un fondo de $100,000.00, que gana una tasa de interés de 3.5% sobre saldo, si se retiran $800.00 al inicio de cada mes.<br><br><span class="example">Respuesta:</span>156 meses (13 años).' %}
{% extends "_base.njk" %}
{%  block validation %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form10 = document.getElementById('duracion-de-fondos-form');
            const fv10 = FormValidation
                .formValidation(form10 , {
                    locale: 'es_ES',
                    localization: FormValidation.locales.es_ES,
                    fields: {
                        ret_fund: {
                            validators: {
                                notEmpty:{},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        reg_wdr: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0.01,
                                    max: 0.01
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        rate: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0,
                                    max: 100,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bulma: new FormValidation.plugins.Bulma(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh'
                        }),
                    },
                })
                .on('core.form.valid', function() {
                    app.calculate($('.page-title .card-header-title').text());
                });

            $('#ret_fund, #freq, #rate').change(function () {
                let ret_fund = form10.querySelector('#ret_fund').value;
                let freq = form10.querySelector('#freq').value;
                let rate = form10.querySelector('#rate').value;

                fv10.updateValidatorOption('reg_wdr', 'between', 'max', ret_fund);
                fv10.updateValidatorOption('reg_wdr', 'between', 'min', Math.round(ret_fund * rate / freq) / 100 + 0.01);
                fv10.revalidateField('reg_wdr');
            });
        });
    </script>
{% endblock %}