{% set page = 'Mejora tu $ituación' %}
{% set form = '' %}
{% extends "_base.njk" %}
{%  block book %}
<div class="columns is-multiline">
    <div class="column is-narrow book-desc">
        <a href="https://www.amazon.com/Pedro-Moreno/e/B00J1O3FOY/ref=ntt_dp_epwbk_0">
            <img src="img/book.jpg" class="is-pulled-right book-cover">
        </a>
        <p>
            Lo que debes saber sobre finanzas personales y como aplicarlo para tu beneficio.
        </p>
        <p>
            Se explica sin complicaciones y con ejemplos prácticos diferentes conceptos financieros como endeudamiento, interés compuesto, inflación, tabla de amortización, retiros periódicos de ahorros y otros.
        </p>
        <p>
            Incluye su propia calculadora financiera, calcfina.com, para responder preguntas prácticas y cotidianas como las siguientes:
        </p>
        <ul class="book-ul">
            <li>
                ¿cuánto es la letra mensual a pagar por un préstamo?, ¿me están cobrando de más?
            </li>
            <li>
                ¿cuánto realmente pago en interés a la tarjeta de crédito?
            </li>
            <li>
                ¿qué gano haciendo un abono extra a la hipoteca de mi casa?
            </li>
            <li>
                ¿cuánto debo ahorrar o invertir para jubilarme?
            </li>
        </ul>
        <p>
            La intención de este libro es ayudarlo a usted a Mejorar su $ituación financiera, esta es su responsabilidad.
        </p>
        <p>
            Si usted no lo hace, nadie lo hará por usted.
        </p>
        <a href="https://www.amazon.com/Mejora-ituación-necesitas-personales-calcularlo-ebook/dp/B08DN9L7V9?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button3.png"></a>
    </div>
</div>
{% endblock %}
{%  block author %}
<div class="columns is-multiline">
    <div class="column is-narrow book-desc">
        <p class="author-title">Sobre el autor</p>
    </div>
</div>
<div class="columns is-multiline">
    <div class="column is-narrow book-desc">
        <img src="img/pedro.jpg" class="is-pulled-left author-pic">
        <p class="column is-narrow author-desc">Nacido en Panamá, 1967. Obtuvo su B.S. en Mass. Maritime Academy y ha navegado por el mundo como oficial de marina mercante en tanqueros químicos. En 1995 comienza a trabajar como práctico en el Canal de Panamá y forma una familia con su bella esposa Sonia y sus dos hijos.</p>
    </div>
</div>
{% endblock %}
