{% set page = 'Tarjeta Pago Mínimo' %}
{% set form = 'tarjeta-pago-minimo-form' %}
{% extends "_base.njk" %}
{%  block validation %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form11 = document.getElementById('tarjeta-pago-minimo-form');
            const fv11 = FormValidation
                .formValidation(form11 , {
                    locale: 'es_ES',
                    localization: FormValidation.locales.es_ES,
                    fields: {
                        cc_debt: {
                            validators: {
                                notEmpty:{},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        rate: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0,
                                    max: 100,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        min_p_perc: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0,
                                    max: 100,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        min_p: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0.01,
                                    max: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bulma: new FormValidation.plugins.Bulma(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh'
                        }),
                    },
                })
                .on('core.form.valid', function() {
                    app.calculate($('h1.title').text());
                });

            $('#cc_debt, #rate').change(function () {
                let cc_debt = form11.querySelector('#cc_debt').value;
                let rate = form11.querySelector('#rate').value;

                fv11.updateValidatorOption('min_p', 'between', 'max', cc_debt);
                fv11.updateValidatorOption('min_p', 'between', 'min', 0.01);
                fv11.revalidateField('min_p');
            });
        });
    </script>
{% endblock %}