{% set page = 'Tarjeta Pago Fijo' %}
{% set form = 'tarjeta-pago-fijo-form' %}
{% set help = '<span class="example">Ejemplo:</span>Encuentra el total pagado y los meses que toma cancelar el saldo de una tarjeta de crédito, con un balance inicial de $5,000.00, haciendo pagos mensuales fijos, sin incurrir en nuevos gastos, con una tasa de interés 18%, pago mínimo de 3 % del saldo ó $25 y pagos fijos mensuales de $250.00.<br><br><span class="example">Respuesta:</span>24 meses (2 años), total pagado $5,989.13.' %}
{% extends "_base.njk" %}
{%  block validation %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form12 = document.getElementById('tarjeta-pago-fijo-form');
            const fv12 = FormValidation
                .formValidation(form12 , {
                    locale: 'es_ES',
                    localization: FormValidation.locales.es_ES,
                    fields: {
                        cc_debt: {
                            validators: {
                                notEmpty:{},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        rate: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0,
                                    max: 100,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        min_p_perc: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0,
                                    max: 100,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        min_p: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0.01,
                                    max: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        fix_p: {
                            validators: {
                                notEmpty:{},
                                between: {
                                    inclusive: true,
                                    min: 0.01,
                                    max: 0.01,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bulma: new FormValidation.plugins.Bulma(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh'
                        }),
                    },
                })
                .on('core.form.valid', function() {
                    app.calculate($('.page-title .card-header-title').text());
                });

            $('#cc_debt, #rate, #min_p, #min_p_perc').change(function () {
                let cc_debt = form12.querySelector('#cc_debt').value;
                let rate = form12.querySelector('#rate').value;
                let min_p_perc = form12.querySelector('#min_p_perc').value;
                let min_p = form12.querySelector('#min_p').value;
                let fix_p_min =  Math.max(min_p_perc * cc_debt / 100, min_p);

                fv12.updateValidatorOption('min_p', 'between', 'max', cc_debt);
                fv12.updateValidatorOption('min_p', 'between', 'min', 0.01);
                fv12.revalidateField('min_p');

                fv12.updateValidatorOption('fix_p', 'between', 'max', cc_debt);
                fv12.updateValidatorOption('fix_p', 'between', 'min', fix_p_min);
                fv12.revalidateField('fix_p');
            });
        });
    </script>
{% endblock %}