{% set page = 'Tasa de Interés Real de Préstamo' %}
{% set form = 'tasa-de-interes-real-de-prestamo-form' %}
{% set help = '<span class="example">Ejemplo:</span>Encuentra la tasa de interés real cobrada por un préstamo de $10,000.00, a 5 años y con un letra mensual de $250.00 pagada al inicio de cada período.<br><br><span class="example">Respuesta:</span>17.96%.' %}
{% extends "_base.njk" %}
{%  block validation %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form6 = document.getElementById('tasa-de-interes-real-de-prestamo-form');
            const fv6 = FormValidation
                .formValidation(form6, {
                    locale: 'es_ES',
                    localization: FormValidation.locales.es_ES,
                    fields: {
                        loan: {
                            validators: {
                                notEmpty: {},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        reg_pmt: {
                            validators: {
                                notEmpty: {},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                        num_of_years: {
                            validators: {
                                notEmpty: {},
                                greaterThan: {
                                    inclusive: true,
                                    min: 0.001,
                                },
                                numeric: {
                                    thousandsSeparator: '',
                                    decimalSeparator: '.'
                                }
                            }
                        },
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bulma: new FormValidation.plugins.Bulma(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fa fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fa fa-refresh'
                        }),
                    },
                })
                .on('core.form.valid', function () {
                    app.calculate($('.page-title .card-header-title').text());
                });

            form6.querySelector('#reg_pmt', 'num_of_years', '#freq').addEventListener('change', function () {
                let num_of_years = form6.querySelector('#num_of_years').value;
                let freq = form6.querySelector('#freq').value;
                let reg_pmt = form6.querySelector('#reg_pmt').value;

                fv6.updateValidatorOption('loan', 'greaterThan', 'min', reg_pmt * freq * num_of_years);
                fv6.revalidateField('loan');
            });
        });
    </script>
{% endblock %}