{% import "_form-fields.njk" as formFields %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="css/formValidation.min.css">
    <script src="https://kit.fontawesome.com/4d4c6829dd.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <!-- Navbar start -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#" title="Inicio">
                <h1 class="header-logo"></h1>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="mobile-menu" class="navbar-menu is-hidden-desktop">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="brand-logo" href="/">
                        <img src="img/logo.jpg" width="214" height="108">
                    </a>
                    {% include '_menu.njk' %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar ends -->
</div>
<section class="section cf-section">

    <!-- Container start -->
    <div class="container">

        <!-- Content start -->
        <div class="columns is-centered is-mobile">

            <!-- Side menu starts -->
            <aside class="menu is-hidden-touch column is-narrow">
                <a class="brand-logo" href="/">
                    <img src="img/logo.jpg" width="180" height="91">
                </a>
                {% include '_menu.njk' %}
            </aside>
            <!-- Side menu ends -->

            <!-- Calculator starts -->
            <div class="column is-narrow">

                <div class="columns">
                    <!-- Title starts -->
                    <div class="column page-title">
                        <h1 class="title is-4">{{page}}</h1>
                    </div>
                    <!-- Title ends -->
                </div>

                <div class="columns is-multiline">
                    <!-- Form starts -->
                    <div class="column is-narrow">
                        <div class=" calc-form-wrapper">
                            <form id="{{form}}" class="calculator-form">
                            {% for field in forms[page] %}
                                {% if field.type == 'textField' %}
                                    {{ formFields['textField'](field.id, field.label, field.value, field.placeholder) }}
                                {% elif field.type == 'freqSelect' %}
                                    {{ formFields['freqSelect']() }}
                                {% elif field.type == 'extraDepFreqSelect' %}
                                    {{ formFields['extraDepFreqSelect']() }}
                                {% elif field.type == 'extraPmtFreqSelect' %}
                                    {{ formFields['extraPmtFreqSelect']() }}
                                {% elif field.type == 'extraDepRadio' %}
                                    {{ formFields['extraDepRadio']() }}
                                {% elif field.type == 'extraPmtRadio' %}
                                    {{ formFields['extraPmtRadio']() }}
                                {% elif field.type == 'depWhenRadio' %}
                                    {{ formFields['depWhenRadio']() }}
                                {% elif field.type == 'pmtWhenRadio' %}
                                    {{ formFields['pmtWhenRadio']() }}
                                {% elif field.type == 'wdrWhenRadio' %}
                                    {{ formFields['wdrWhenRadio']() }}
                                {% endif %}
                            {% endfor %}
                            {{ formFields['calculateButton'](page) }}
                            </form>
                        </div>
                    </div>
                    <!-- Form ends -->

                    <!-- Results card starts -->
                    <div class="column is-narrow results-wrapper is-invisible">
                        <div class="tabs is-centered is-boxed results-tabs">
                            <ul>
                                <li id="results-tab" class="is-active">
                                    <a onclick="app.selectTab('results-tab')">Resultados</a>
                                </li>
                                <li id="table-tab" class="is-invisible">
                                    <a onclick="app.selectTab('table-tab')">Tabla</a>
                                </li>
                                <li id="charts-tab" class="is-invisible">
                                    <a onclick="app.selectTab('charts-tab')">Gráficas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card results-card">
                            <div class="card-content">

                                <!-- Results starts -->
                                {% include '_results.njk' %}
                                <!-- Results ends -->

                                <!-- Charts starts -->
                                {% include '_charts.njk' %}
                                <!-- Charts ends -->

                                <!-- Table starts -->
                                {% include '_table.njk' %}
                                <!-- Table ends -->

                            </div>
                        </div>
                    </div>
                    <!-- Results card ends -->
                </div>

            </div>
            <!-- Calculator ends -->

        </div>
        <!-- Content ends -->

    </div>
    <!-- Container ends -->
</section>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Nunjucks JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>
<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
<!-- Cleave JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.0/cleave.min.js"></script>
<!-- Form Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
<script src="js/FormValidation.min.js"></script>
<script src="js/locales/es_ES.min.js"></script>
<script src="js/plugins/Bulma.min.js"></script>

<!-- inject:js -->
<!-- endinject -->

{%  block validation %} {% endblock %}
</body>
</html>
