{% import "_form-fields.njk" as formFields %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>-->
</head>
<body>
<div class="container">
    <!-- Navbar start -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://anafeliu.com" title="Inicio">
                <h1 class="header-logo"></h1>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="mobile-menu" class="navbar-menu is-hidden-desktop">
            <div class="navbar-end">
                <div class="navbar-item">
                    {% include '_menu.njk' %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar ends -->
</div>
<section class="section cf-section">

    <!-- Container start -->
    <div class="container">

        <!-- Content start -->
        <div class="columns">

            <!-- Side menu starts -->
            <aside class="menu is-hidden-touch column is-narrow">
                {% include '_menu.njk' %}
            </aside>
            <!-- Side menu ends -->

            <!-- Calculator starts -->
            <div class="column">

                <div class="columns is-multiline">

                    <!-- Title starts -->
                    <div class="column is-full-tablet page-title">
                        <h1 class="title is-4">{{page}}</h1>
                    </div>
                    <!-- Title ends -->

                    <!-- Form starts -->
                    <div class="column is-full-tablet is-half-desktop is-one-third-widescreen">
                        <div class="calculator-form">
                        {% for field in forms[page] %}
                            {% if field.type == 'textField' %}
                                {{ formFields['textField'](field.id, field.label, field.value, field.placeholder) }}
                                {% elif field.type == 'freqSelect' %}
                                {{ formFields['freqSelect']() }}
                                {% elif field.type == 'extraDepFreqSelect' %}
                                {{ formFields['extraDepFreqSelect']() }}
                                {% elif field.type == 'extraDepRadio' %}
                                {{ formFields['extraDepRadio']() }}
                                {% elif field.type == 'depWhenRadio' %}
                                {{ formFields['depWhenRadio']() }}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {{ formFields['calculateButton'](page) }}
                    </div>
                    <!-- Form ends -->

                    <!-- Results starts -->
                    <div class="column is-full-tablet is-half-desktop is-two-thirds-widescreen">
                        <div class="card results-card is-invisible">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Resultados
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content columns is-multiline">
                                    <div class="results column is-full-tablet">
                                        {% for field in results[page] %}
                                            {{ formFields['textField'](field.id, field.label, field.value, field.placeholder) }}
                                        {% endfor %}
                                    </div>
                                    <div id="pie-chart" class="pie-chart column is-half-tablet is-full-desktop is-half-widescreen"></div>
                                    <div id="line-chart" class="line-chart column is-half-tablet is-full-desktop is-half-widescreen"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Results ends -->

                    <!-- Table starts -->
                    <div class="column is-full-tablet">
                        {% block table %}
                        <div class="card table-card is-invisible">
                            <div class="card-content">
                                <div class="content columns is-multiline">
                                    <div class="result-table-menu column is-full-tablet">
                                        <!-- Table menu -->
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <h6 class="title is-6">Detalle</h6>
                                                </div>
                                            </div>
                                            <div class="level-right">
                                                <div class="level-item field-label is-small is-hidden-mobile">
                                                    <label class="label cf-field-label cf-rb">Mostrar por:</label>
                                                </div>
                                                <div class="level-item">
                                                    <div class="control">
                                                        <label id="tsr-0" class="radio time-scale-r is-hidden">
                                                            <input type="radio" name="timeScale" value="0" checked>
                                                            <span class="radio-text">Año</span>
                                                        </label>
                                                        <label id="tsr-1" class="radio time-scale-r is-hidden">
                                                            <input type="radio" name="timeScale" value="1">
                                                            <span class="radio-text">Mes</span>
                                                        </label>
                                                        <label id="tsr-2" class="radio time-scale-r is-hidden">
                                                            <input type="radio" name="timeScale" value="2">
                                                            <span class="radio-text">Semana</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                        <!-- Table menu ends -->
                                    </div>
                                    <div class="result-table column is-full-tablet">
                                        <!-- Table body -->
                                        <table class="table is-narrow is-hoverable is-fullwidth">
                                            <thead>
                                                <tr></tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <!-- Table body ends -->
                                    </div>
                                    <div class="result-table-pagination column is-full-tablet">
                                        <!-- Table pagination -->
                                        <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
                                            <a class="pagination-previous">
                                                <span class="icon"><i class="fal fa-chevron-double-left"></i></span>
                                            </a>
                                            <a class="pagination-previous" onclick="app.goBack()">
                                                <span class="icon"><i class="fal fa-chevron-left"></i></span>
                                            </a>
                                            <a class="pagination-next" onclick="app.goForward()">
                                                <span class="icon"><i class="fal fa-chevron-right"></i></span>
                                            </a>
                                            <a class="pagination-next">
                                                <span class="icon"><i class="fal fa-chevron-double-right"></i></span>
                                            </a>
                                            <ul class="pagination-list">

                                            </ul>
                                        </nav>
                                        <!-- Table pagination ends -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                    <!-- Table ends -->

                </div>

            </div>
            <!-- Calculator ends -->

        </div>
        <!-- Content ends -->

    </div>
    <!-- Container ends -->
</section>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Nunjucks JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>
<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
