<div class="content columns is-centered">
    <div id="pie-chart" class="pie-chart column is-narrow"></div>
</div>
<div class="content columns is-centered">
    <div id="line-chart" class="line-chart column is-narrow"></div>
</div>
