{% macro textField( id, label, value = '', placeholder = '', cleave='', attr = '' ) %}
                            <div class="field is-horizontal {{id}}">
                                <div class="field-label is-small">
                                    <label class="label cf-field-label">{{label}}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <input id="{{id}}" name="{{id}}" class="input is-small {{cleave}}" type="text" placeholder="{{placeholder}}" {{attr}}>
                                        </p>
                                    </div>
                                </div>
                            </div>
{% endmacro %}

{% macro freqSelect() %}
                            <div class="field is-horizontal">
                                <div class="field-label is-small">
                                    <label class="label cf-field-label">Frecuencia</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <div class="select is-small is-fullwidth">
                                                <!--suppress HtmlFormInputWithoutLabel -->
                                                <select id="freq">
                                                    <option value="1">Anual</option>
                                                    <option value="2">Semi-anual</option>
                                                    <option value="3">Cuatrimestral</option>
                                                    <option value="6">Bimestral</option>
                                                    <option value="12" selected>Mensual</option>
                                                    <option value="24">Quincenal</option>
                                                    <option value="26">Bi-semanal</option>
                                                    <option value="52">Semanal</option>
                                                    <option value="365">Diario</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
{% endmacro %}

{% macro extraDepFreqSelect() %}
                            <div class="field is-horizontal extra_dep_f">
                                <div class="field-label is-small">
                                    <label class="label cf-field-label">Frecuencia</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <div class="select is-small is-fullwidth">
                                                <!--suppress HtmlFormInputWithoutLabel -->
                                                <select id="extra_dep_f">
                                                    <option value="0" selected>Solo una vez</option>
                                                    <option value="1">Anual</option>
                                                    <option value="12">Mensual</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
{% endmacro %}

{% macro extraPmtFreqSelect() %}
    <div class="field is-horizontal extra_dep_f">
        <div class="field-label is-small">
            <label class="label cf-field-label">Frecuencia</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-small is-fullwidth">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <select id="extra_pmt_f">
                            <option value="0" selected>Solo una vez</option>
                            <option value="1">Anual</option>
                            <option value="12">Mensual</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro extraDepRadio() %}
                        <div class="field">
                            <div class="field-label is-small">
                                <label class="label cf-field-label cf-rb">¿Aportes extraordinarios?</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <label class="radio extra_dep_r">
                                            <input type="radio" value="1" name="extra_dep_r">
                                            <span class="radio-text">Si</span>
                                        </label>
                                        <label class="radio extra_dep_r">
                                            <input type="radio" value="0" name="extra_dep_r" checked>
                                            <span class="radio-text">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endmacro %}

{% macro extraPmtRadio() %}
    <div class="field">
        <div class="field-label is-small">
            <label class="label cf-field-label cf-rb">¿Pagos extraordinarios?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio extra_pmt_r">
                        <input type="radio" value="1" name="extra_pmt_r">
                        <span class="radio-text">Si</span>
                    </label>
                    <label class="radio extra_pmt_r">
                        <input type="radio" value="0" name="extra_pmt_r" checked>
                        <span class="radio-text">No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro depWhenRadio() %}
                        <div class="field">
                            <div class="field-label is-small">
                                <label class="label cf-field-label cf-rb">Todos los aportes se hacen:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" value="1" name="dep_when" checked>
                                            <span class="radio-text">Al inicio del período</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="0" name="dep_when">
                                            <span class="radio-text">Al final del período</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endmacro %}

{% macro pmtWhenRadio() %}
    <div class="field">
        <div class="field-label is-small">
            <label class="label cf-field-label cf-rb">Todos los pagos se hacen:</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" value="1" name="pmt_when" checked>
                        <span class="radio-text">Al inicio del período</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="0" name="pmt_when">
                        <span class="radio-text">Al final del período</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro wdrWhenRadio() %}
    <div class="field">
        <div class="field-label is-small">
            <label class="label cf-field-label cf-rb">Todos los retiros se hacen:</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" value="1" name="wdr_when" checked>
                        <span class="radio-text">Al inicio del período</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="0" name="wdr_when">
                        <span class="radio-text">Al final del período</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro calculateButton(calculator) %}
                        <a class="button calculate-btn" type="submit">Calcular</a>
{% endmacro %}
