<div id="table" class="content columns is-centered hide">
    <div class="column">
        {% block table %}
            <div class="card table-card is-invisible">
                <div class="card-content">
                    <div class="content columns">
                        <div class="result-table-menu column">
                            <!-- Table menu -->
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <h6 class="title is-6">Detalle</h6>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item field-label is-small is-hidden-mobile">
                                        <label class="label cf-field-label cf-rb">Mostrar por:</label>
                                    </div>
                                    <div class="level-item">
                                        <div class="control">
                                            <label id="tsr-0" class="radio time-scale-r is-hidden">
                                                <input type="radio" name="timeScale" value="0" checked>
                                                <span class="radio-text">Año</span>
                                            </label>
                                            <label id="tsr-1" class="radio time-scale-r is-hidden">
                                                <input type="radio" name="timeScale" value="1">
                                                <span class="radio-text">Mes</span>
                                            </label>
                                            <label id="tsr-2" class="radio time-scale-r is-hidden">
                                                <input type="radio" name="timeScale" value="2">
                                                <span class="radio-text">Semana</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <!-- Table menu ends -->
                        </div>
                    </div>
                    <div class="content columns">
                        <div class="result-table column">
                            <!-- Table body -->
                            <table class="table is-narrow is-hoverable is-bordered">
                                <thead>
                                <tr></tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!-- Table body ends -->
                        </div>
                    </div>
                    <div class="content columns">
                        <div class="result-table-pagination column">
                            <!-- Table pagination -->
                            <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
                                <a class="pagination-previous" onclick="app.goFirst()">
                                    <span class="icon"><i class="fal fa-chevron-double-left"></i></span>
                                </a>
                                <a class="pagination-previous" onclick="app.goBack()">
                                    <span class="icon"><i class="fal fa-chevron-left"></i></span>
                                </a>
                                <a class="pagination-next" onclick="app.goForward()">
                                    <span class="icon"><i class="fal fa-chevron-right"></i></span>
                                </a>
                                <a class="pagination-next" onclick="app.goLast()">
                                    <span class="icon"><i class="fal fa-chevron-double-right"></i></span>
                                </a>

                                <ul class="pagination-list">

                                </ul>
                            </nav>
                            <!-- Table pagination ends -->
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
