<p class="menu-label">Ahorros</p>
<ul class="menu-list">
    <li><a class="cf-menu-item {{ calc1.active }}" href="{{ calc1.url }}" >Calculadora de Ahorros</a></li>
    <li><a class="cf-menu-item {{ calc2.active }}" href="{{ calc2.url }}">Ahorros para Lograr Meta</a></li>
    <li><a class="cf-menu-item {{ calc3.active }}" href="{{ calc3.url }}">Tiempo para Lograr Meta</a></li>
    <li><a class="cf-menu-item {{ calc4.active }}" href="{{ calc4.url }}">Tasa de Interés Requerida</a></li>
    <li><a class="cf-menu-item {{ calc5.active }}" href="{{ calc5.url }}">Valor Actual</a></li>
</ul>
<p class="menu-label">Préstamos</p>
<ul class="menu-list">
    <li><a class="cf-menu-item {{ calc6.active }}" href="{{ calc6.url }}">Calculadora de Préstamo</a></li>
    <li><a class="cf-menu-item {{ calc7.active }}" href="{{ calc7.url }}">Tasa de Interés Real</a></li>
    <li><a class="cf-menu-item {{ calc8.active }}" href="{{ calc8.url }}">Tiempo para Cancelar Préstamo</a></li>
</ul>
<p class="menu-label">Retiros</p>
<ul class="menu-list">
    <li><a class="cf-menu-item {{ calc9.active }}" href="{{ calc9.url }}">Fondo para Retiros</a></li>
    <li><a class="cf-menu-item {{ calc10.active }}" href="{{ calc10.url }}">Retiros para Agotar Fondo</a></li>
    <li><a class="cf-menu-item {{ calc11.active }}" href="{{ calc11.url }}">Duración de Fondo</a></li>
</ul>
<p class="menu-label">Tarjetas de Crédito</p>
<ul class="menu-list">
    <li><a class="cf-menu-item {{ calc12.active }}" href="{{ calc12.url }}">Pago Mínimo</a></li>
    <li><a class="cf-menu-item {{ calc13.active }}" href="{{ calc13.url }}">Pago Fijo</a></li>
    <li><a class="cf-menu-item {{ calc14.active }}" href="{{ calc14.url }}">Tasa de Interés Real</a></li>
</ul>
